asgiref==3.8.1
bandit==1.7.10
beautifulsoup4==4.12.3
boolean.py==4.0
CacheControl==0.14.0
certifi==2024.8.30
charset-normalizer==3.3.2
cyclonedx-python-lib==7.6.2
defusedxml==0.7.1
Django==5.1.1
django-environ==0.11.2
filelock==3.16.1
html5lib==1.1
idna==3.10
license-expression==30.3.1
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.1.0
numpy==2.1.2
packageurl-python==0.15.6
packaging==24.1
pandas==2.2.3
pbr==6.1.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.7.3
py-serializable==1.1.2
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
rich==13.9.2
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.1
stevedore==5.3.0
toml==0.10.2
typing_extensions==4.12.2
tzdata==2024.2
ua-parser==0.18.0
urllib3==2.2.3
webencodings==0.5.1
